* {
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    margin-bottom: 0px;
    background-color: brown;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}   